# **Workshop Week 1 - Solution**
## Introduction to Python - Part 1

**Exercise:** Print several sentences and add a comment after each print command.

In [1]:
print("Hello World!!") # this is a greeting
print("Welcome to SIT 112 Data Science Concepts") # This is your first practical!

Hello World!!
Welcome to SIT 112 Data Science Concepts

**Exercise:** Write a piece of code that declares a variable called `'my_var'` and assign the value 25 to it. Then print its value.

In [2]:
my_var = 25
print("The value of my_var is", my_var)

The value of my_var is 25

**Exercise:** Write a piece of code that declares a variable called `'my_float'` and assign the value 25 to it. Then print its value and type. What is its type? What do you need to do to make it a float instead of int?

In [3]:
my_float = 25
print("the type of my_float is", type(my_float))

"""
As you have noticed the type is not float. Why? Because 25 is an integer.
To make myfloat a float type you should pass the value as 25. or 25.0 
"""

my_float = 25.
print("the type of my_float is", type(my_float))

the type of my_float is <class 'int'>
the type of my_float is <class 'float'>

* addition:         x + y
* subtraction:      x - y
* multiplication:   x*y
* division:         x/y
* floor division:   x//y  (round the answer to the near integer)
* modulus:          x%y   (remainder of x divided by y)
* exponent:         x**y  (raise x to the power of y)

**Exercise**: Try at least one example for each operator. Write a comment before the example to explain which operator you are entering.

In [4]:
# This is an example of solutions
x = 10
y = 3

# example of addition
print('x + y =', x + y)

# example of substraction
print('x - y =', x - y)

# example of multiplication
print('x * y =', x * y)

# example of division
print('x / y =', x / y)

# example of floor division
print('x // y =', x //y)

# example of modulus
print('x % y =', x % y)

# example of exponent
print('x ** y =', x ** y)

x + y = 13
x - y = 7
x * y = 30
x / y = 3.3333333333333335
x // y = 3
x % y = 1
x ** y = 1000

**Exercise:** define a list with multiple items of different types. Let the last item be another list equal to `['apple', 'orange', 'banana', 'pear']`. How can you index `'banana'`? Use list indexing and print it.

In [1]:
my_list = [1, 2.5, "a string here", ["apple", "orange", "banana", "pear"]]

# we can index the last item with [-1]
print(my_list[-1])

# banana is the third item
print(my_list[-1][2])

['apple', 'orange', 'banana', 'pear']
banana

**Exercise:** define a string with value equal to `"Python is fun!"`. How can you index the character `'s'`?

In [6]:
my_str = "Python is fun!"
print(my_str[8])

s

**Exercise:** define a string with value equal to `"Python is fun!"`. How can you print every third character of it?

In [7]:
my_str = "python is fun!"
print(my_str[::3])

ph  n

**Exercise:** create a list with items as days of the week and call it `'my_list'`. Now create a tuple with items as days of the week and call it `'my_tuple'`. Alter values of `'my_list'` such that instead of Monday, you have 1. Can you do the same thing with `'my_tuple'`?

In [8]:
my_list = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
my_tuple = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

print(my_list)
print(my_tuple)

# now we alter my_list
my_list[0] = 1
print()
print(my_list)

# but we can not do the same thing with my_tuple
# because tuple is immutable, and we are not allowed to change
# its values after they are set
# the following line of code will raise a TypeError
my_tuple[0] = 1

TypeError: 'list' object is not callable

**Exercise:** create a dictionary called `'my_dict'` with keys `'first_name, last_name, age, favorite_singer'` and fill the values. Now alter the value of `'favorite_singer'` and change it to `'Justin Bieber'`! 

Can you add a key `'seriously'` and fill the value with a boolean?

In [9]:
my_dict = {"first_name": "Adham",
           "last_name": "Beyki",
           "age": 29,
           "favorite_singer": "Beth Hart"
          }

print(my_dict)

# This is how you alter the value of a key in a dictioinary
my_dict["favorite_singer"] = "Justin Bieber"

print(my_dict)

# This is how you add a key to the dictionary
my_dict["seriously"] = False

print(my_dict)

{'first_name': 'Adham', 'last_name': 'Beyki', 'age': 29, 'favorite_singer': 'Beth Hart'}
{'first_name': 'Adham', 'last_name': 'Beyki', 'age': 29, 'favorite_singer': 'Justin Bieber'}
{'first_name': 'Adham', 'last_name': 'Beyki', 'age': 29, 'favorite_singer': 'Justin Bieber', 'seriously': False}

**Exercise:** Write a piece of code that declares two variables called `'is_raining'` and `'is_sunny'`, and assign a Boolean value to each of them. If both variables are True then print `'Is there a rainbow?'`.

In [ ]:
# There's no output for this example
is_raining = True
is_sunny = False

if is_raining and is_sunny:
    print('Is there a rainbow?')

In [ ]:
# another example:
is_raining = True
is_sunny = True

if is_raining and is_sunny:
    print('Is there a rainbow?')

Is there a rainbow?